h1 {font-family: fantasy;font-size-adjust: 120px;}

body{background: 4d8c57}

.leftside {
    
}

.rightside{
    position:relative;
    left:500px;
}

.leftside {
    
}

.rightside{
    position:relative;
    left:500px;
}